.players_presentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.player_presentation {
    font-size: 22px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #0f2d99aa;
    border-radius: 4px;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.player-1_presentation {
    border: 1px solid #3bff00;
    box-shadow:
            0 0 2px #3bff00, 0 0 3px #3bff00, 0 0 4px #3bff00, 0 0 5px #3bff00, 0 0 100px #0f2d99, 0 0 200px #0f2d99;
}

.player-2_presentation {
    border: 1px solid #dc1818;
    box-shadow:
            0 0 2px #dc1818, 0 0 3px #dc1818, 0 0 4px #dc1818, 0 0 5px #dc1818, 0 0 100px #0f2d99, 0 0 200px #0f2d99;
}